TESTES1/Connected Services/UPWSSage/UPWSSage2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Moradas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Moradas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMoradasAlternativas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MoradasAlternativas" nillable="true" type="tns:MoradasAlternativas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMoradasAlternativas" nillable="true" type="tns:ArrayOfMoradasAlternativas" />
  <xs:complexType name="MoradasAlternativas">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Localidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Morada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Morada2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telemovel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Terceiro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MoradasAlternativas" nillable="true" type="tns:MoradasAlternativas" />
</xs:schema>