TESTES1/Connected Services/UPWSSage/UPWSSage10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wsap100c/UPWSSage.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" />
  <xs:import schemaLocation="http://wsap100c/UPWSSage.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Docs" />
  <xs:import schemaLocation="http://wsap100c/UPWSSage.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" />
  <xs:import schemaLocation="http://wsap100c/UPWSSage.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://wsap100c/UPWSSage.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.TiposDocumento" />
  <xs:import schemaLocation="http://wsap100c/UPWSSage.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Documentos" />
  <xs:import schemaLocation="http://wsap100c/UPWSSage.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Contabilidade" />
  <xs:import schemaLocation="http://wsap100c/UPWSSage.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/UPID.API.NEXT" />
  <xs:import schemaLocation="http://wsap100c/UPWSSage.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.AjudaCompra" />
  <xs:import schemaLocation="http://wsap100c/UPWSSage.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.TabelasLivres" />
  <xs:import schemaLocation="http://wsap100c/UPWSSage.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Artigos" />
  <xs:import schemaLocation="http://wsap100c/UPWSSage.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Sage" />
  <xs:import schemaLocation="http://wsap100c/UPWSSage.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Aplicacao" />
  <xs:import schemaLocation="http://wsap100c/UPWSSage.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Artigos.GrelhaDescontos" />
  <xs:import schemaLocation="http://wsap100c/UPWSSage.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Moradas" />
  <xs:import schemaLocation="http://wsap100c/UPWSSage.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/UPID.API.GA.WEBSAGE.Model" />
  <xs:import schemaLocation="http://wsap100c/UPWSSage.svc?xsd=xsd18" namespace="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Cliente" />
  <xs:import schemaLocation="http://wsap100c/UPWSSage.svc?xsd=xsd20" namespace="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Medidas" />
  <xs:import schemaLocation="http://wsap100c/UPWSSage.svc?xsd=xsd21" namespace="http://schemas.datacontract.org/2004/07/UPID.API.GA.WEBSAGE" />
  <xs:import schemaLocation="http://wsap100c/UPWSSage.svc?xsd=xsd23" namespace="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Fornecedor" />
  <xs:element name="ListaDetalheDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q1:Header" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Docs" minOccurs="0" name="Documentos" nillable="true" type="q2:ArrayOfChaves" />
        <xs:element minOccurs="0" name="MostraLinhas" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaDetalheDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Docs" minOccurs="0" name="ListaDetalheDocumentoResult" nillable="true" type="q3:ArrayOfDocumentoCab" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaFamilias">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q4:Header" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ListaSubFamilias" type="xs:boolean" />
        <xs:element minOccurs="0" name="soExterno" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaFamiliasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="ListaFamiliasResult" nillable="true" type="q5:ArrayOfFamilias.Dados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaSubFamilias">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q6:Header" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Familia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soExterno" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaSubFamiliasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="ListaSubFamiliasResult" nillable="true" type="q7:ArrayOfSubFamilia.Dados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaCodigosPostais">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q8:Header" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Lista" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaCodigosPostaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="ListaCodigosPostaisResult" nillable="true" type="q10:ArrayOfCodigoPostal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaArmazens">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q11:Header" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaArmazensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="ListaArmazensResult" nillable="true" type="q12:ArrayOfArmazens" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTiposDocumentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q13:Header" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.TiposDocumento" minOccurs="0" name="TipoEntidade" type="q14:eTipoTerceiro" />
        <xs:element minOccurs="0" name="Series" type="xs:boolean" />
        <xs:element minOccurs="0" name="DBTS" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="DBTSSeries" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTiposDocumentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.TiposDocumento" minOccurs="0" name="ListaTiposDocumentosResult" nillable="true" type="q15:ArrayOfTiposDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarDocumentoEmPreparacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q16:Header" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Documentos" minOccurs="0" name="Documento" nillable="true" type="q17:ArrayOfDocumentosPreparacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarDocumentoEmPreparacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Documentos" minOccurs="0" name="ValidarDocumentoEmPreparacaoResult" nillable="true" type="q18:ArrayOfResultadoDocumentoEmPreparacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustosCTBPorRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q19:Header" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListaTipoDoc" nillable="true" type="q20:ArrayOfstring" />
        <xs:element minOccurs="0" name="FiltroRef" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FiltroDBTS" nillable="true" type="xs:long" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Contabilidade" minOccurs="0" name="TipoMovimento" nillable="true" type="q21:TipoMovimento" />
        <xs:element minOccurs="0" name="DataMovimento" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustosCTBPorRefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Contabilidade" minOccurs="0" name="CustosCTBPorRefResult" nillable="true" type="q22:ArrayOfContabilidadeMovimentosPorReferencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteArtigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q23:Header" />
        <xs:element minOccurs="0" name="sArtigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteArtigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteArtigoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q24:Header" />
        <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q25:Header" />
        <xs:element minOccurs="0" name="Fornecedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteFornecedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteFornecedorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestarAPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q26:Header" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestarAPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="TestarAPIResult" nillable="true" type="q27:TesteAPI.Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q28:Header" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAplicationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q29:Header" />
        <xs:element minOccurs="0" name="sTipoDoc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.TiposDocumento" minOccurs="0" name="ListaSeriesResult" nillable="true" type="q30:ArrayOfSeries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaClientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q31:Header" />
        <xs:element minOccurs="0" name="MostraInativos" type="xs:boolean" />
        <xs:element minOccurs="0" name="MostraCamposLivres" type="xs:boolean" />
        <xs:element minOccurs="0" name="DBTS" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="Clientede" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClienteAte" nillable="true" type="xs:string" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="lstFiltroCampoLivre" nillable="true" type="q32:ArrayOfFiltroCampoLivre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="ListaClientesResult" nillable="true" type="q33:ArrayOfCliente.Dados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPendentes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q34:Header" />
        <xs:element minOccurs="0" name="sTerceiro" nillable="true" type="xs:string" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="sTipoTerceiro" type="q35:eTipoTerceiro" />
        <xs:element minOccurs="0" name="sZona" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPendentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/UPID.API.NEXT" minOccurs="0" name="ListaPendentesResult" nillable="true" type="q36:ArrayOfPendentes.Dados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaAjudaCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q37:Header" />
        <xs:element minOccurs="0" name="ArtigoDe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ArtigoAte" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FornecedorDe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FornecedorAte" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaAjudaCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.AjudaCompra" minOccurs="0" name="ListaAjudaCompraResult" nillable="true" type="q38:ArrayOfDados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaGrupos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q39:Header" />
        <xs:element minOccurs="0" name="ListaFamilias" type="xs:boolean" />
        <xs:element minOccurs="0" name="ListaSubFamilias" type="xs:boolean" />
        <xs:element minOccurs="0" name="soExterno" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaGruposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="ListaGruposResult" nillable="true" type="q40:ArrayOfGrupos.Dados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTabelasLivres">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q41:Header" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.TabelasLivres" minOccurs="0" name="TipoTabela" type="q42:eTipoTabela" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTabelasLivresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.TabelasLivres" minOccurs="0" name="ListaTabelasLivresResult" nillable="true" type="q43:TabelasLivres" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaArtigos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q44:Header" />
        <xs:element minOccurs="0" name="sLeArquivoDigital" type="xs:boolean" />
        <xs:element minOccurs="0" name="sCategoriaArquivoDigit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ArtigosWeb" type="xs:boolean" />
        <xs:element minOccurs="0" name="MostraStockArmazem" type="xs:boolean" />
        <xs:element minOccurs="0" name="MostraInativos" type="xs:boolean" />
        <xs:element minOccurs="0" name="MostraLinhasPreco" type="xs:boolean" />
        <xs:element minOccurs="0" name="LinhaPreco" nillable="true" type="xs:short" />
        <xs:element minOccurs="0" name="MostraCodigoBarras" type="xs:boolean" />
        <xs:element minOccurs="0" name="Artigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Familia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SubFamilia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LeImagens" type="xs:boolean" />
        <xs:element minOccurs="0" name="DBTS" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="MostraCamposLivres" type="xs:boolean" />
        <xs:element minOccurs="0" name="NRegistos" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="NrPagina" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaArtigosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="ListaArtigosResult" nillable="true" type="q45:ArrayOfArtigo.Dados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaArtigosPaginacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q46:Header" />
        <xs:element minOccurs="0" name="sLeArquivoDigital" type="xs:boolean" />
        <xs:element minOccurs="0" name="sCategoriaArquivoDigit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ArtigosWeb" type="xs:boolean" />
        <xs:element minOccurs="0" name="MostraStockArmazem" type="xs:boolean" />
        <xs:element minOccurs="0" name="MostraInativos" type="xs:boolean" />
        <xs:element minOccurs="0" name="MostraLinhasPreco" type="xs:boolean" />
        <xs:element minOccurs="0" name="LinhaPreco" nillable="true" type="xs:short" />
        <xs:element minOccurs="0" name="MostraCodigoBarras" type="xs:boolean" />
        <xs:element minOccurs="0" name="Artigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Familia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SubFamilia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LeImagens" type="xs:boolean" />
        <xs:element minOccurs="0" name="DBTS" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="MostraCamposLivres" type="xs:boolean" />
        <xs:element minOccurs="0" name="NRegistos" type="xs:int" />
        <xs:element minOccurs="0" name="NrPagina" type="xs:int" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Artigos" minOccurs="0" name="Ordenacao" nillable="true" type="q47:eOrdenacao" />
        <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaArtigosPaginacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="ListaArtigosPaginacaoResult" nillable="true" type="q48:DadosPaginacaoArtigos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaCondComerciaisArtigoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q49:Header" />
        <xs:element minOccurs="0" name="ClienteInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClienteFinal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SoClientesAtivos" type="xs:boolean" />
        <xs:element minOccurs="0" name="ArtigoInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ArtigoFinal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SoArtigoWeb" type="xs:boolean" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Familia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SubFamilia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaCondComerciaisArtigoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Sage" minOccurs="0" name="ListaCondComerciaisArtigoClienteResult" nillable="true" type="q50:ArrayOfCondComerciaisArtigoCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaImgArtigos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q51:Header" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Aplicacao" minOccurs="0" name="Output" type="q52:eTipoOutput" />
        <xs:element minOccurs="0" name="Artigode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ArtigoAte" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Familia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SubFamilia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaImgArtigosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="ListaImgArtigosResult" nillable="true" type="q53:ArrayOfArtigo.ImagensArtigo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaImgGrupos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q54:Header" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Aplicacao" minOccurs="0" name="Output" type="q55:eTipoOutput" />
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaImgGruposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Artigos" minOccurs="0" name="ListaImgGruposResult" nillable="true" type="q56:ArrayOfImagensGrupos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaImgFamilia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q57:Header" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Familia" nillable="true" type="xs:string" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Aplicacao" minOccurs="0" name="Output" type="q58:eTipoOutput" />
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaImgFamiliaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Artigos" minOccurs="0" name="ListaImgFamiliaResult" nillable="true" type="q59:ArrayOfImagensFamilias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaImgSubFamilia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q60:Header" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Familia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subFamilia" nillable="true" type="xs:string" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Aplicacao" minOccurs="0" name="Output" type="q61:eTipoOutput" />
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaImgSubFamiliaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Artigos" minOccurs="0" name="ListaImgSubFamiliaResult" nillable="true" type="q62:ArrayOfImagensSubFamilias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaGrelhaDescontos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q63:Header" />
        <xs:element minOccurs="0" name="MostraInativos" type="xs:boolean" />
        <xs:element minOccurs="0" name="MostraExpirados" type="xs:boolean" />
        <xs:element minOccurs="0" name="Artigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Familia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SubFamilia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClassDescontos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaGrelhaDescontosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Artigos.GrelhaDescontos" minOccurs="0" name="ListaGrelhaDescontosResult" nillable="true" type="q64:ArrayOfCabecalho" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaMoradasAlternativas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q65:Header" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.TiposDocumento" minOccurs="0" name="TipoTerceiro" type="q66:eTipoTerceiroMoradas" />
        <xs:element minOccurs="0" name="TerceiroDe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TerceiroAte" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaMoradasAlternativasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Moradas" minOccurs="0" name="ListaMoradasAlternativasResult" nillable="true" type="q67:ArrayOfMoradasAlternativas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Utilizador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="LoginResult" nillable="true" type="q68:RespostaUtil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaLinhasPrecosArtigos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q69:Header" />
        <xs:element minOccurs="0" name="LinhaPreco" type="xs:short" />
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Artigos" nillable="true" type="q70:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaLinhasPrecosArtigosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="ListaLinhasPrecosArtigosResult" nillable="true" type="q71:ArrayOfLinhaPrecoArtigo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q72:Header" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="Dadosdocumento" nillable="true" type="q73:Documento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="InserirDocumentoResult" nillable="true" type="q74:Resultado_Documento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizarDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q75:Header" />
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Documentos" minOccurs="0" name="Documento" nillable="true" type="q76:DocumentoFinalizar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizarDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="FinalizarDocumentoResult" nillable="true" type="q77:Resultado_Documento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q78:Header" />
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="Dadosdocumento" nillable="true" type="q79:Documento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="ActualizarDocumentoResult" nillable="true" type="q80:Resultado_Documento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q81:Header" />
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="DadosSage" nillable="true" type="q82:DadosSageNext" />
        <xs:element minOccurs="0" name="Year" type="xs:short" />
        <xs:element minOccurs="0" name="DocumentType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Series" type="xs:short" />
        <xs:element minOccurs="0" name="OriginalSeries" nillable="true" type="xs:short" />
        <xs:element minOccurs="0" name="DocNumber" type="xs:int" />
        <xs:element minOccurs="0" name="Changes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="UpdateDocumentResult" nillable="true" type="q83:Resultado_Documento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConverterDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q84:Header" />
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="sDocFinal" nillable="true" type="q85:DadosDocFinal" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="sDocAConverter" nillable="true" type="q86:DadosDocOriginal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConverterDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="ConverterDocumentoResult" nillable="true" type="q87:Resultado_Documento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirDocumentoFinanceiro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q88:Header" />
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="DadosDocumento" nillable="true" type="q89:Recebimentos.Documento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirDocumentoFinanceiroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="InserirDocumentoFinanceiroResult" nillable="true" type="q90:Recebimentos.Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q91:Header" />
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="DadosSage" nillable="true" type="q92:DadosSageNext" />
        <xs:element minOccurs="0" name="Ano" type="xs:short" />
        <xs:element minOccurs="0" name="TipoDoc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumeroDoc" type="xs:int" />
        <xs:element minOccurs="0" name="Serie" type="xs:short" />
        <xs:element minOccurs="0" name="Motivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="AnularDocumentoResult" nillable="true" type="q93:Resultado_Documento" />
        <xs:element minOccurs="0" name="Motivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularArtigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q94:Header" />
        <xs:element minOccurs="0" name="Artigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularArtigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="AnularArtigoResult" nillable="true" type="q95:Artigo.ResultadoAnulacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirContabilidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q96:Header" />
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/UPID.API.GA.WEBSAGE.Model" minOccurs="0" name="DocumentoGA" nillable="true" type="q97:GADocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirContabilidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/UPID.API.GA.WEBSAGE.Model" minOccurs="0" name="InserirContabilidadeResult" nillable="true" type="q98:GAResultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirUtilizadorSage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q99:Header" />
        <xs:element minOccurs="0" name="sUtilizador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirUtilizadorSageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="InserirUtilizadorSageResult" nillable="true" type="q100:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirCodigoPostal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q101:Header" />
        <xs:element minOccurs="0" name="sCodigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sLocalidade" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirCodigoPostalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="InserirCodigoPostalResult" nillable="true" type="q102:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirBarcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q103:Header" />
        <xs:element minOccurs="0" name="sArtigo" nillable="true" type="xs:string" />
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="ListaBarcode" nillable="true" type="q104:ArrayOfArtigo.Barcode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirBarcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="InserirBarcodeResult" nillable="true" type="q105:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirLocalizacaoArtigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q106:Header" />
        <xs:element minOccurs="0" name="sArtigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sArmazem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sLocalizacao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirLocalizacaoArtigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="InserirLocalizacaoArtigoResult" nillable="true" type="q107:Localizacoes.Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q108:Header" />
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="DadosCliente" nillable="true" type="q109:Cliente.Dados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="InserirClienteResult" nillable="true" type="q110:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q111:Header" />
        <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Cliente" minOccurs="0" name="ListaPropriedades" nillable="true" type="q112:ArrayOfPropriedades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="AtualizarClienteResult" nillable="true" type="q113:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirAjudaCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q114:Header" />
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="Dados" nillable="true" type="q115:AjudaCompra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirAjudaCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="InserirAjudaCompraResult" nillable="true" type="q116:ResultadoSage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirLinhaPreco">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q117:Header" />
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="Dados" nillable="true" type="q118:LinhaPrecoArtigo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirLinhaPrecoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="InserirLinhaPrecoResult" nillable="true" type="q119:ResultadoSage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirLinhasPrecos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q120:Header" />
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="Dados" nillable="true" type="q121:ArrayOfLinhaPrecoArtigo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirLinhasPrecosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="InserirLinhasPrecosResult" nillable="true" type="q122:ResultadoTOfResultadoLinhaPreconme55OSb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirTipoMedidas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q123:Header" />
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Medidas" minOccurs="0" name="Dados" nillable="true" type="q124:ArrayOfTipoMedida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirTipoMedidasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="InserirTipoMedidasResult" nillable="true" type="q125:ResultadoSage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q126:Header" />
        <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="AnularClienteResult" nillable="true" type="q127:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q128:Header" />
        <xs:element minOccurs="0" name="Fornecedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnularFornecedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="AnularFornecedorResult" nillable="true" type="q129:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarEstadoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q130:Header" />
        <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ativo" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarEstadoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="AlterarEstadoClienteResult" nillable="true" type="q131:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q132:Header" />
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="DadosFornecedor" nillable="true" type="q133:Fornecedor.Dados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirFornecedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="InserirFornecedorResult" nillable="true" type="q134:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirArtigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q135:Header" />
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="DadosArtigo" nillable="true" type="q136:Artigo.Dados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirArtigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="InserirArtigoResult" nillable="true" type="q137:Artigo.ResultadoArtigo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirConfigCTB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q138:Header" />
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/UPID.API.GA.WEBSAGE" minOccurs="0" name="Dados" nillable="true" type="q139:ConfiguracoesCTB.DadosCab" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirConfigCTBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/UPID.API.GA.WEBSAGE" minOccurs="0" name="InserirConfigCTBResult" nillable="true" type="q140:ConfiguracoesCTB.Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirUnidades">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q141:Header" />
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="Dados" nillable="true" type="q142:Unidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirUnidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="InserirUnidadesResult" nillable="true" type="q143:ResultadoSage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirMoeda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q144:Header" />
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="Dados" nillable="true" type="q145:Moeda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirMoedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="InserirMoedaResult" nillable="true" type="q146:ResultadoSage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirListaGrupos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q147:Header" />
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="Grupos" nillable="true" type="q148:ArrayOfGrupos.Dados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirListaGruposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="InserirListaGruposResult" nillable="true" type="q149:ResultadoSage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirArquivoDigitalDocumentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q150:Header" />
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Documentos" minOccurs="0" name="Dados" nillable="true" type="q151:ArquivoDigital" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirArquivoDigitalDocumentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="InserirArquivoDigitalDocumentosResult" nillable="true" type="q152:ResultadoSage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarCartazesArtigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q153:Header" />
        <xs:element minOccurs="0" name="artigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cartazVertical" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cartazHorizontal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarCartazesArtigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="AlterarCartazesArtigoResult" nillable="true" type="q154:ResultadoSage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SatisfazerQuantidadesDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q155:Header" />
        <xs:element minOccurs="0" name="TpDoc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Serie" type="xs:short" />
        <xs:element minOccurs="0" name="NumDoc" type="xs:int" />
        <xs:element minOccurs="0" name="Ano" type="xs:short" />
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="Linhas" nillable="true" type="q156:ArrayOfDocumentosLin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SatisfazerQuantidadesDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="SatisfazerQuantidadesDocumentoResult" nillable="true" type="q157:ResultadoSage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArtigoLotesOuNumSerie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q158:Header" />
        <xs:element minOccurs="0" name="Artigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArtigoLotesOuNumSerieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="ArtigoLotesOuNumSerieResult" nillable="true" type="q159:eTipoArtigo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterLotesByArtigoArmazem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q160:Header" />
        <xs:element minOccurs="0" name="Artigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Armazem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterLotesByArtigoArmazemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="ObterLotesByArtigoArmazemResult" nillable="true" type="q161:ArrayOfDadosLotesArtigo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterQuantidadeMovLotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q162:Header" />
        <xs:element minOccurs="0" name="TpDoc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Serie" type="xs:short" />
        <xs:element minOccurs="0" name="NumDoc" type="xs:int" />
        <xs:element minOccurs="0" name="Ano" type="xs:short" />
        <xs:element minOccurs="0" name="NumLinha" type="xs:short" />
        <xs:element minOccurs="0" name="CodLote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VossLote" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterQuantidadeMovLotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObterQuantidadeMovLotesResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterNSerieByArtigoArmazem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q163:Header" />
        <xs:element minOccurs="0" name="Artigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Armazem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterNSerieByArtigoArmazemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObterNSerieByArtigoArmazemResult" nillable="true" type="q164:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterUtilNumSerie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q165:Header" />
        <xs:element minOccurs="0" name="TpDoc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Serie" type="xs:short" />
        <xs:element minOccurs="0" name="NumDoc" type="xs:int" />
        <xs:element minOccurs="0" name="Ano" type="xs:short" />
        <xs:element minOccurs="0" name="NumLinha" type="xs:short" />
        <xs:element minOccurs="0" name="NumSerie" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterUtilNumSerieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObterUtilNumSerieResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LerDescricaoArtigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q166:Header" />
        <xs:element minOccurs="0" name="Artigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LerDescricaoArtigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LerDescricaoArtigoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarArtigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q167:Header" />
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Artigo" nillable="true" type="q168:ArtigoUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarArtigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="AtualizarArtigoResult" nillable="true" type="q169:Artigo.ResultadoArtigo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirLote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q170:Header" />
        <xs:element minOccurs="0" name="Artigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Armazem" nillable="true" type="xs:string" />
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="DadosLote" nillable="true" type="q171:DadosLotesArtigo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirLoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="InserirLoteResult" nillable="true" type="q172:ResultadoSage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LerCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q173:Header" />
        <xs:element minOccurs="0" name="sCodigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nif" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mostraCamposLivres" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LerClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="LerClienteResult" nillable="true" type="q174:Cliente.Dados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LerConfiguracoesCTBCab">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q175:Header" />
        <xs:element minOccurs="0" name="sTipoDoc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sSerie" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LerConfiguracoesCTBCabResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q176="http://schemas.datacontract.org/2004/07/UPID.API.GA.WEBSAGE" minOccurs="0" name="LerConfiguracoesCTBCabResult" nillable="true" type="q176:ConfiguracoesCTB.DadosCab" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LerCamposCTB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q177:Header" />
        <xs:element xmlns:q178="http://schemas.datacontract.org/2004/07/UPID.API.GA.WEBSAGE" minOccurs="0" name="sTipo" type="q178:ConfiguracoesCTB.eTipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LerCamposCTBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LerCamposCTBResult" nillable="true" type="q179:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LerConfiguracoesLinhaCTB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q180:Header" />
        <xs:element minOccurs="0" name="sTipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sSerie" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LerConfiguracoesLinhaCTBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/UPID.API.GA.WEBSAGE" minOccurs="0" name="LerConfiguracoesLinhaCTBResult" nillable="true" type="q181:ArrayOfConfiguracoesCTB.Linhas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LerArquivoDigital">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q182:Header" />
        <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LerArquivoDigitalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="LerArquivoDigitalResult" nillable="true" type="q183:SB_ArquivoDigital.Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LerObjectivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q184:Header" />
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="sTipo" type="q185:Objectivos.Tipo" />
        <xs:element minOccurs="0" name="sAno" type="xs:short" />
        <xs:element minOccurs="0" name="sMes" type="xs:short" />
        <xs:element minOccurs="0" name="sTerceiro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LerObjectivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LerObjectivoResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LerMovimentosCTB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q186:Header" />
        <xs:element minOccurs="0" name="sTipoDoc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sSerie" type="xs:short" />
        <xs:element minOccurs="0" name="sNumdoc" type="xs:int" />
        <xs:element minOccurs="0" name="sAno" type="xs:short" />
        <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/UPID.API.GA.WEBSAGE" minOccurs="0" name="sListaDados" nillable="true" type="q187:ArrayOfConfiguracoesCTB.eTipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LerMovimentosCTBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LerMovimentosCTBResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LerDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q188="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q188:Header" />
        <xs:element minOccurs="0" name="sAno" type="xs:short" />
        <xs:element minOccurs="0" name="sTipoDoc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sSerie" type="xs:short" />
        <xs:element minOccurs="0" name="sNumdoc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LerDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Docs" minOccurs="0" name="LerDocumentoResult" nillable="true" type="q189:DocumentoCab" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPaises">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q190="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q190:Header" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPaisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="ListaPaisesResult" nillable="true" type="q191:ArrayOfPais" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarBD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarBDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AtualizarBDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TiposDocumentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q192="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q192:Header" />
        <xs:element xmlns:q193="http://schemas.datacontract.org/2004/07/UPID.API.NEXT" minOccurs="0" name="sListagem" type="q193:Tipo_Documentos.eTipoListagemDocumentos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TiposDocumentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TiposDocumentosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sectores">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q194="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q194:Header" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SectoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SectoresResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Series">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q195="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q195:Header" />
        <xs:element minOccurs="0" name="sTipoDoc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SeriesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Moedas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q196="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q196:Header" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoedasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoedasResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegimeIva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q197="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q197:Header" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegimeIvaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegimeIvaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Vendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q198="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q198:Header" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VendedorResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MeioPagamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q199="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q199:Header" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MeioPagamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MeioPagamentoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Armazens">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q200="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q200:Header" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArmazensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArmazensResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Motivos_Isencao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q201="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q201:Header" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Motivos_IsencaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Motivos_IsencaoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unidades">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q202="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q202:Header" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnidadesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Paises">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q203="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q203:Header" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZonasGeograficas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q204="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q204:Header" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZonasGeograficasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ZonasGeograficasResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfiguracoesCTB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q205="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q205:Header" />
        <xs:element minOccurs="0" name="sTipoDoc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sSerie" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfiguracoesCTBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfiguracoesCTBResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Artigos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q206="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q206:Header" />
        <xs:element minOccurs="0" name="sLeTitulosArquivoDigital" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArtigosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArtigosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Documentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q207="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q207:Header" />
        <xs:element xmlns:q208="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="sTipoDocumento" type="q208:eEnum.eTipoDocumentos_Datatable" />
        <xs:element minOccurs="0" name="sTerceiro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMostraImportados" type="xs:boolean" />
        <xs:element minOccurs="0" name="sDataInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sDataFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentosCTB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q209="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q209:Header" />
        <xs:element minOccurs="0" name="sDataInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sDataFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentosCTBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentosCTBResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaFornecedores">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q210="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q210:Header" />
        <xs:element minOccurs="0" name="MostraInativos" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaFornecedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q211="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Fornecedor" minOccurs="0" name="ListaFornecedoresResult" nillable="true" type="q211:ArrayOfFornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaUnidades">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q212="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q212:Header" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaUnidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q213="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="ListaUnidadesResult" nillable="true" type="q213:ArrayOfUnidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaDocumentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q214="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model" minOccurs="0" name="Header" nillable="true" type="q214:Header" />
        <xs:element xmlns:q215="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="sTipoDocumento" type="q215:eEnum.eTipoDocumentos" />
        <xs:element minOccurs="0" name="sTerceiro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMostraImportados" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMostraAnulados" type="xs:boolean" />
        <xs:element minOccurs="0" name="sDataInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sDataFinal" type="xs:dateTime" />
        <xs:element xmlns:q216="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE" minOccurs="0" name="sFiltro" type="q216:eEnum.eFiltroDocumento" />
        <xs:element minOccurs="0" name="MostraLinhas" type="xs:boolean" />
        <xs:element xmlns:q217="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Documentos" minOccurs="0" name="listaTipoDocs" nillable="true" type="q217:ArrayOfFiltroTipoDoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaDocumentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q218="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Docs" minOccurs="0" name="ListaDocumentosResult" nillable="true" type="q218:ArrayOfDocumentoCab" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>