TESTES1/Connected Services/UPWSSage/UPWSSage9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Cliente" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.Cliente" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPropriedades">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Propriedades" nillable="true" type="tns:Propriedades" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPropriedades" nillable="true" type="tns:ArrayOfPropriedades" />
  <xs:complexType name="Propriedades">
    <xs:sequence>
      <xs:element minOccurs="0" name="Propriedade" type="tns:ePropriedade" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Propriedades" nillable="true" type="tns:Propriedades" />
  <xs:simpleType name="ePropriedade">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nome" />
      <xs:enumeration value="Morada" />
      <xs:enumeration value="Morada2" />
      <xs:enumeration value="Localidade" />
      <xs:enumeration value="CodigoPostal" />
      <xs:enumeration value="Telefone" />
      <xs:enumeration value="Telemovel" />
      <xs:enumeration value="Email" />
      <xs:enumeration value="Observacoes" />
      <xs:enumeration value="CL1" />
      <xs:enumeration value="CL2" />
      <xs:enumeration value="CL3" />
      <xs:enumeration value="CL4" />
      <xs:enumeration value="CL5" />
      <xs:enumeration value="CL6" />
      <xs:enumeration value="CL7" />
      <xs:enumeration value="CL8" />
      <xs:enumeration value="CL9" />
      <xs:enumeration value="CL10" />
      <xs:enumeration value="IBAN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ePropriedade" nillable="true" type="tns:ePropriedade" />
</xs:schema>