TESTES1/Connected Services/UPWSSage/UPWSSage23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UPID.API.NEXT" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UPID.API.NEXT" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPendentes.Dados">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pendentes.Dados" nillable="true" type="tns:Pendentes.Dados" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPendentes.Dados" nillable="true" type="tns:ArrayOfPendentes.Dados" />
  <xs:complexType name="Pendentes.Dados">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ano" type="xs:short" />
      <xs:element minOccurs="0" name="DataDoc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataVencimento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumeroDocumento" type="xs:int" />
      <xs:element minOccurs="0" name="Serie" type="xs:short" />
      <xs:element minOccurs="0" name="Terceiro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorDocumento" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorPendente" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pendentes.Dados" nillable="true" type="tns:Pendentes.Dados" />
  <xs:simpleType name="Tipo_Documentos.eTipoListagemDocumentos">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Clientes" />
      <xs:enumeration value="Fornecedor" />
      <xs:enumeration value="Clientes_Fornecedor" />
      <xs:enumeration value="Todos" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Tipo_Documentos.eTipoListagemDocumentos" nillable="true" type="tns:Tipo_Documentos.eTipoListagemDocumentos" />
</xs:schema>