TESTES1/Connected Services/UPWSSage/UPWSSage11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.AjudaCompra" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.AjudaCompra" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDados">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dados" nillable="true" type="tns:Dados" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDados" nillable="true" type="tns:ArrayOfDados" />
  <xs:complexType name="Dados">
    <xs:sequence>
      <xs:element minOccurs="0" name="Artigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fornecedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrazoEntrega" type="xs:short" />
      <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dados" nillable="true" type="tns:Dados" />
</xs:schema>