TESTES1/Connected Services/UPWSSage/UPWSSage6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.LinhaPreco" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UPID.API.WEBSAGE.Model.LinhaPreco" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfResultadoLinhaPreco">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultadoLinhaPreco" nillable="true" type="tns:ResultadoLinhaPreco" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultadoLinhaPreco" nillable="true" type="tns:ArrayOfResultadoLinhaPreco" />
  <xs:complexType name="ResultadoLinhaPreco">
    <xs:sequence>
      <xs:element minOccurs="0" name="Artigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinhaPreco" type="xs:short" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Moeda" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoLinhaPreco" nillable="true" type="tns:ResultadoLinhaPreco" />
</xs:schema>